.insta-icon {
  width: 60px;
  height: 60px;
  background: radial‑gradient(circle at 30% 110%,
    #fdf497 0%, #fdf497 5%,
    #fd5949 45%, #d6249f 60%, #285aeb 90%);
  border-radius: 35px;
  position: relative;
}
.insta-icon::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 28px;
  height: 28px;
  border: 3px solid white;
  border-radius: 50%;
}
.insta-icon::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 14px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
}

.whatsapp-icon {
  width: 60px;
  height: 60px;
  background: #25D366;
  border-radius: 50%;
  position: relative;
}
.whatsapp-icon::before {
  content: "";
  width: 34px;
  height: 34px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  left: 13px;
}
.whatsapp-icon::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #25D366;
  border-radius: 50%;
  position: absolute;
  top: 21px;
  left: 21px;
}
